.bg-coloring {
    background-image: -webkit-linear-gradient(90deg, #0c0e12 0%, rgba(31, 41, 53, 0.36078) 100%);
    background-color: #121a23;
}
.about-us-BG {
    /* background-image: url('https://themedox.com/mykd/wp-content/uploads/2023/10/area_bg01.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clipedUnderline {
    content: '';
    display: block;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
    clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
    width: 65px;
    height: 5px;
    margin: 20px 0 0;
    background-color: #f37c20;
}
.hr-custom-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(231deg, transparent 0%, #f37c20 50%, transparent 100%);
}
.hr-custom-line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(231deg, transparent 0%, #f37c20 50%, transparent 100%);
}
.img-custom-border {
    border: 1px #cfa374 solid;
    border-radius: 50%;
    padding: 1px;
}
.img-custom-border2 {
    border: 1px #cfa374 solid;
    border-radius: 50%;
}
.humanGame-sideButton {
    background-image: -webkit-linear-gradient(0deg, #1f2935 0%, transparent 100%, #10181f 100%);
}
.humanGame-bottomButton {
    background-image: -webkit-linear-gradient(90deg, #10181f 0%, transparent 0%, #141a20 100%);
}

/* Apply pseudo-elements to the image wrapper only */
.imgWrapper::before {
    content: '';
    position: absolute;
    left: -23px;
    top: -80px;
    width: 70px;
    height: 320px;
    background-color: #f37b20d2;
    transform: rotate(-50deg);
    z-index: -1;
    transition: ease 0.3s;
}
.img-thumb::before {
    content: '';
    position: absolute;
    left: 33px;
    top: -113px;
    width: 1px;
    height: 320px;
    background-color: #f37b20d2;
    transform: rotate(-50deg);
    z-index: -1;
    transition: ease 0.3s;
}
.imgWrapper::after {
    content: '';
    position: absolute;
    left: 186px;
    top: -80px;
    width: 70px;
    height: 320px;
    background-color: #f37b20d2;
    transform: rotate(50deg);
    z-index: -1;
    transition: ease 0.3s;
}
.img-thumb::after {
    content: '';
    position: absolute;
    left: 184px;
    top: -100px;
    width: 1px;
    height: 320px;
    background-color: #f37b20d2;
    transform: rotate(50deg);
    z-index: -1;
    transition: ease 0.3s;
}
.imgWrapper:hover::after,
.imgWrapper:hover::before,
.img-thumb:hover::after,
.img-thumb:hover::before {
    background-color: #f37c20;
}

/* Ensure parent elements have proper z-index and position */
.teamCard {
    position: relative;
    z-index: 1; /* Ensures content is above pseudo-elements */
}

.imgWrapper {
    position: relative; /* To make pseudo-elements position relative to the image wrapper */
    z-index: 0; /* Allows pseudo-elements to stay behind the image */
}
.playerCardsBg {
    /* background-image: url('https://html.themegenix.com/mykd/assets/img/bg/team_bg.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.community_bg {
    background-image: url('../Image_Files/GamesImages/communitySectionBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 100px 0; */
    background-attachment: fixed;
}
