.aboutUsBg {
    background-image: url('https://html.themegenix.com/mykd/assets/img/bg/breadcrumb_bg01.jpg');
    padding: 100px 0;
    background-position: center;
    background-size: cover;
}

.shakeAnimate:hover {
    animation: shake 0.5s linear 1;
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-7px);
    }
    20% {
        transform: translateX(7px);
    }
    30% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-7px);
    }
    50% {
        transform: translateX(7px);
    }
}
