@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'myCustomFont';
    src: url('./Assets/glacial-indifference/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myCustomFont';
    src: url('./Assets/glacial-indifference/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'myCustomFont';
    src: url('./Assets/glacial-indifference/GlacialIndifference-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light background for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #1d3962; /* Blue color for the thumb */
    border-radius: 10px;
    /* Purple border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a62d7a; /* Purple color when hovered */
}

.slick-slide .brand_logo {
    max-width: 100%;
    max-height: 130px;
    margin: 0 auto;
    object-fit: contain;
}
.brand_logo_specify {
    max-width: 80%;
    max-height: 130px;
    margin: 0 auto;
    object-fit: contain;
}
.slick-dots li.slick-active button:before {
    color: white !important;
}

.brandBg {
    /* background-image: url('../src/Image_Files/Orange Modern Technology LinkedIn Banner.png'); */
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
}

.testimonialsBg {
    background-image: url('../src/Image_Files/Testimonials_Background.jpg');
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
            -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
            -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ----------------------early access------------------------  */

.e-a-bg {
    background: rgba(0, 0, 0, 0.267);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
}
.e-a-pop-up {
    background: #1a1a1ba1;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    z-index: 666;
}
