@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'myCustomFont';
  src: url('./Assets/glacial-indifference/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myCustomFont';
  src: url('./Assets/glacial-indifference/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'myCustomFont';
  src: url('./Assets/glacial-indifference/GlacialIndifference-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light background for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #1d3962; /* Blue color for the thumb */
  border-radius: 10px;
  /* Purple border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a62d7a; /* Purple color when hovered */
}

.slick-slide .brand_logo {
  max-width: 100%;
  max-height: 180px;
  margin: 0 auto;
  object-fit: contain;
}

.brandBg {
  /* background-image: url('../src/Image_Files/Orange Modern Technology LinkedIn Banner.png'); */
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
}

.testimonialsBg {
  /* background-image: url('../src/Image_Files/freepik-export-20241128083858Pfau testimonials bg.png'); */
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: 100%;
  background-size: cover;
}
